<div id="container" class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Conference Room Scheduler</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2" id="sidebar">
      loading...
      <!--Sidebar content-->
    </div>
    <div class="span10" style="max-height: 70%">
      <div id="room-name">
      </div>
      <div id="calendar"></div>
      <!--Body content-->
    </div>
  </div>
</div>
<div id='eventDialog' class='dialog ui-helper-hidden'>
            <form>
                <div>
                    <label>Title:</label>
                    <input id='title' class="field" type="text"></input>
                </div>
                <div>
                    <label>Color:</label>
                    <input id='color' class="field" type="text"></input>
                </div>
            </form>
</div>